input {
{% for host in ls_redis_hosts %}
  redis {
    host => "{{ host }}"
    key => "logstash"
    data_type => "list"
    codec => json
    type => "redis"
  }
{% endfor %}
}

# note processor
filter {
  mutate {
    replace => [ "_PROCBY", "{{ ansible_hostname }}" ]
  }
}
