output {
  elasticsearch {
    protocol => "{{ls_es_protocol}}"
    host => "{{ls_es_host}}"
    node_name => "{{ ansible_hostname }}"
{% if ls_es_cluster is defined and ls_es_cluster %}
    cluster => "{{ls_es_cluster}}"
{% endif %}
  }
}

