[logstash-{{ ls_version }}]
name=logstash repository for {{ ls_version }}.x packages
baseurl=http://packages.elasticsearch.org/logstash/{{ ls_version }}/centos
gpgcheck=1
gpgkey=http://packages.elasticsearch.org/GPG-KEY-elasticsearch
enabled=0
